
/*General button setup*/
.btn{
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);  
    color: var(--white);
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--black);
}
.btn:hover{
    transform: translateY(-3px);
}


/* Button Colors */

.btn--shop--solid{
    background-color: var(--lightblue);
    border: 2px solid var(--blue);
}

.btn--shop--grey--solid{
    background-color: var(--lightblue);
    filter: grayscale(0.8);
    border: 2px solid var(--blue);
    color: var(--red);
}
.btn--shop--grey--solid:hover{
    transform: translateY(0px);
}

.btn--succes--solid{
    background-color: var(--lightgreen);
    color: var(--white);
    border: 2px solid var(--green);
}

/* WaveButton style setup*/

.btn--wave{
    width: 200px;
    height: 64px;
    padding: 15px 30px;
    position: absolute;
    padding:0px 0px 0px 0px;
}

.btn--wave:hover{
    box-shadow: 1px 1px 20px rgb(0, 100, 38);
}

.waveContainer{
    position: relative;
    margin: auto;
    width: 50%;
    justify-content: center;
}

.waveIcon{
    margin: auto;
    justify-content: center;
}

/* Shopbutton style setup*/

.btn--shop{
    width: 90px;
    height: 100px;
}

.btn--shop:hover{
    box-shadow: 1px 1px 20px rgba(0,75,100,1);
}

/* Shop setups*/

.shopInfo{
    margin: auto;
    width: 50%;
    justify-content: center;
}

.shopImage{
    margin: auto;
    justify-content: center;
}

.shopPrice{
    margin: auto;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px 2px var(--black);
}

.shopMenu{
    position: absolute;
    row-gap: 20px;
    column-gap: 20px;
}
