/*React component Game Title*/
.GameTitle{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--lightblue);
    font-size: 5em;
    font-weight: 600;
    text-shadow: 2px 2px 2px var(--black);

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--darkBlue);
}

span{
    color: var(--orange);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--darkOrange);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
