:root{
    --lightblue: #00cfef;
    --blue: #0020C2;
    --darkBlue: #001e3a;
    --orange: #fe6a00;
    --darkOrange: #580300;
    --red: #eb3f27;
    --lightgreen: #75fa83;
    --green: #048211;
    --white: #fdfdfd;
    --black: #181717;
    --yellow: #fddd05;
    --darkYellow:#f8a819;
    --BGColor: #282828;

}

body {
    margin: 0;
    font-family: "Luckiest Guy", sans-serif;
    background: var(--BGColor);
    overflow: hidden;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

