:root{
    --primay: #00BFFF;
    --secondary: #0020C2;
    --warning: #ffd028;
    --danger: #eb3f27;
    --succes: #75fa83;
    --green2: #048211;
    --white: #fdfdfd;
    --black: #181717;
}

body {
    margin: 0;
    font-family: "Luckiest Guy", sans-serif;
    background: #022c43;
    overflow: hidden;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

