/*general*/

.text--style--1{
    position: absolute;
    font-weight: 500;
    font-size: 30px;
    color: var(--white);
    text-shadow: 2px 2px 2px var(--black);

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
